*{
    box-sizing: border-box;
}
.fulllist{
    margin: 40px;
}
.elistcard{
    margin: auto;
}
.elistimg{
    padding-top: 15px;
    width: 100%;
    height: 450px;
}
#background-video{
    height: 400px;
    width: 100%;
    top: 0;
    padding: none;
}
.eventheading{
    display: flex;
    justify-content: center;
}
.ename{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.ediscription{
    font-size: 15px;
    text-align: center;
}
@media screen and (max-width: 960px){
    /* .fulllist{
        margin: 5px;
    } */
    .elistcard{
        margin: 0px;
    }
    .elistimg{
        padding-top: 15px;
        width: 100%;
        height: 250px;
    }
    .ediscription{
        font-size: 12px;
        text-align: center;
    }
}