*{
    scroll-behavior: smooth;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.navbar{
    background: linear-gradient(-45deg,#00003f,black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    position: relative;
    top: 0;
}
.logo{
    margin-left: 25px;
    display: flex;
    justify-self: start;
    width: 60px;
    height: 50px;
    transition: .8s;
    z-index: 3;
    animation: rotate .7s ease-in-out  5;
    display: inline;
}
.rot{
    margin-left: 25px;
    display: flex;
    justify-self: start;
    width: 60px;
    height: 50px;
    transition: .8s;
    z-index: 3;
    animation: logorotate .7s ease-in-out  1;
    display: inline;
}
.logo:hover{
    transform: rotate(360deg);
}
.list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 8px; 
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin: 0px;
    margin-right: 2rem;
    font-size: 1.6rem;
}
.nav-items{
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
}
.list .nav-items::before {
	content: "";
	display: block;
	height: 3px;
	width: 100%;
	background-color: #ffffff;
	display: fixed;
	position: relative;
    top: -10px;
    left: 0;
    width: 0%;
    transition: all ease-in-out 1.2s;
}
.list .nav-items:hover::before{
    width: 100%;
  background-color: #000000;
}
.nav-items:hover {
    text-decoration: none;
    color: white;
    border-radius: 4px;
    background-color: rgba(121, 119, 119, 0.4);
    transition: all 0.2s ease-in-out;
}
.title{
    position: relative;
    top: 10px;
    font-size: 30px;
    color: #2A82A2;
    display: flex;
    justify-self: start;
    font-family: 'Noto Serif', serif;
    display: inline;
    margin-left: 10px;
}
.menu-icon{
    opacity: 0;
}
@keyframes logorotate {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  @keyframes rotate {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
@media screen and (max-width: 960px){
    .links{
        text-decoration: none;   
        background: linear-gradient(-45deg,#00003f,black);
        margin: 0px;
    }
    .navbar{
        position: relative;
    }
    .list{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 65px;
        font-size: 2rem;
        left: -100%;
        opacity: 1;
        transition: all .8s ease-in-out;
        grid-gap: 0px;
    }
    .list.active{
        background: linear-gradient(-45deg,#00003f,black);
        left: 0px;
        opacity: 1;
        transition: all .5s ease-in-out;
        z-index: 1;
        padding: 0px;
        margin: 0px !important;
    }
    .nav-items{
        text-align: center;
        padding: 1.2rem;
        width: 100%;
        display: table;
        margin: 0px !important;
    }
    .nav-items:hover{
        background-color: rgba(96, 96, 96,0.4);
        border-radius: 0px;
    }
    .menu-icon{
        opacity: 1;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        transform: translate(-50%,18%);
        font-size: 3.8rem;
    }
}